body{
    overflow-y:scroll;
}

div.head ul.right_navbar{
    margin-right:0px;
    position:absolute;
    top:0px;
    left:auto;
    right:0px;
}
div.head ul.right_navbar div.notice{
    height:100%;
    padding:5px 0px 5px 0px;
}
div.head ul.right_navbar div.notice > div.box{
    width:30px;
    padding:5px 0px 5px 0px;
    background-color:#656765;
    font-size:16px;
    font-weight:bold;
    text-align:center;
    cursor:pointer;
}
div.head ul.right_navbar div:hover.notice > div.box{
    color:white;
}
div.head ul.right_navbar div.notice_h > div.box{
    background:#86C166;
    color:white;
}
div.head ul.right_navbar div.menu{
    width:80px;
    padding:10px 0px 10px 0px;
    text-align:center;
    cursor:pointer;
}

div.panel_container{
    width:0px;
    position:absolute;
    top:40px;
    right:0px;
    border-left:#DDD 1px solid;
    overflow:hidden;

    transition:width 200ms;
}
div.panel_container_a{
    width:240px; 
}
div.panel_container > div.menu_container{
    width:240px;
    display:none;
}
div.panel_container > div.menu_container > ul.menu > li > a{
    height:60px; 
    font-weight:bold;
    line-height:60px;
}

div.panel_container > div.notice_container{
    width:240px;
    display:none;
}
div.panel_container > div.notice_container > ul.notice > li > a > div{
    height:60px; 
    color:black;
}

div.modal{
    width:978px;
    margin-left:-489px;
}

div.panel_box{
    width:322px;
    position:absolute;
    top:0px;
    right:0px;
}
