div.smod_test > h1.msg{
    margin:0px 0px 6px 82px;
}

div.smod_test > table.subinfo{
    width:322px;
    margin:0px 0px 6px 82px;
    border-collapse:collapse;    
    text-align:left;
    float:left;
}
div.smod_test > table.subinfo tr.item{
    height:32px;
}
div.smod_test > table.subinfo td.title{
    width:76px;
}
div.smod_test > table.subinfo td.value{
    width:240px;
    padding:0px 0px 0px 6px;
}

div.smod_test > table.subinfolist{
    width:486px;
    padding:0px 0px 0px 6px;
    text-align:left;
    float:left;
}
div.smod_test > table.subinfolist tr.head{
    height:32px;
}
div.smod_test > table.subinfolist tr.item{
    height:32px;
}
div.smod_test > table.subinfolist th,div.smod_test > table.subinfolist td{
    padding:0px 0px 0px 6px;
}
div.smod_test > table.subinfolist th.runtime,div.smod_test > table.subinfolist td.runtime{
    width:76px;
    padding:0px 0px 0px 0px;
}
div.smod_test > table.subinfolist th.memory,div.smod_test > table.subinfolist td.memory{
    width:76px;
}
div.smod_test > table.subinfolist th.status,div.smod_test > table.subinfolist td.status{
    width:76px;
}
div.smod_test > table.subinfolist th.score,div.smod_test > table.subinfolist td.score{
    width:76px;
}
div.smod_test > table.subinfolist td.errmsg{
    width:158px;
    font-size:12px;
    word-break:break-all;
}
