div.pmod_test > div.info{
    width:240px;
    float:left;
}
div.pmod_test > div.info > table.statlist{
    width:100%;
    text-align:left;
    border-collapse:collapse;    
}
div.pmod_test > div.info > table.statlist td.name{
    width:76px;
}
div.pmod_test > div.info > table.statlist td.value{
    width:auto;
    padding:0px 0px 0px 6px;
}
div.pmod_test > div.info > table.limitlist{
    width:100%;
    text-align:left;
    border-collapse:collapse;    
}
div.pmod_test > div.info > table.limitlist td.name{
    width:76px;
}
div.pmod_test > div.info > table.limitlist td.value{
    width:auto;
    padding:0px 0px 0px 6px;
}
div.pmod_test > div.info > table.scorelist{
    width:100%;
    text-align:left;
    border-collapse:collapse;    
}
div.pmod_test > div.info > table.scorelist th.no,div.pmod_test > div.info > table.scorelist td.no{
    width:76px;
}
div.pmod_test > div.info > table.scorelist th.score,div.pmod_test > div.info > table.scorelist td.score{
    width:auto;
    padding:0px 0px 0px 6px;
}
div.pmod_test > div.content{
    width:978px;
    margin:0px 0px 0px 6px;
    float:left;
}
div.pmod_test p{
    text-indent:32px;
}
