#index_page{
    div.newmail{
        div.content{
            width:100%;
            height:256px;
        }
    }
    table.maillist{
        tr.item{
            cursor:pointer;
        }
    }
}
