#index_page{
    div.newmail{
        div.content{
            width:100%;
        }
    }
    div.readmail{
        div.content{
            width:100%;
        }
    }
    table.maillist{
        tr.item{
            cursor:pointer;
        }
    }
}
