div.com_pbox{
    width:1224px;
    margin:0px auto 0px auto;
    position:relative;
    display:none;
}
div.com_mbox{
    width:978px;
    margin:32px auto 32px auto;
    padding:0px 6px 0px 6px;
    background-color:#373C38;
    position:relative;
    display:none;
}
