div.stat_page > div.sub_pbox > div.subset{
    width:240px;
    margin:0px 0px 6px 0px;
    float:left;
}
div.stat_page > div.sub_pbox > div.subset > table.filter{
    width:100%;
    border-collapse:collapse;    
    text-align:left;
}
div.stat_page > div.sub_pbox > div.subset > table.filter tr.head{
    height:64px;
}
div.stat_page > div.sub_pbox > div.subset > table.filter tr.item{
    height:38px;
}
div.stat_page > div.sub_pbox > div.subset > table.filter th.key,div.stat_page > div.sub_pbox > div.subset > table.filter td.key{
    width:76px;
}
div.stat_page > div.sub_pbox > div.subset > table.filter th.value,div.stat_page > div.sub_pbox > div.subset > table.filter td.value{
    width:158px;
    padding:0px 0px 0px 6px;
}
div.stat_page > div.sub_pbox > table.sublist{
    width:978px;
    margin:0px 0px 6px 6px;
    border-collapse:collapse;    
    text-align:left;
    float:left;
}
div.stat_page > div.sub_pbox > table.sublist tr.head{
    height:64px;
}
div.stat_page > div.sub_pbox > table.sublist tr.item{
    height:32px;
    display:none;
}
div.stat_page > div.sub_pbox > table.sublist tr:hover.item{
    background-color:rgba(255,255,255,0.2);
}
div.stat_page > div.sub_pbox > table.sublist th,div.stat_page > div.sub_pbox > table.sublist td{
    width:76px;
    padding:0px 0px 0px 6px;
}
div.stat_page > div.sub_pbox > table.sublist th.nickname,div.stat_page > div.sub_pbox > table.sublist td.nickname{
    width:auto;
}
div.stat_page > div.sub_pbox > table.sublist th.time{
    width:158px;
}
div.stat_page > div.sub_pbox > table.sublist td.time{
    width:158px;
    color:#BDC0BA;
    font-size:12px;
}
div.stat_page > div.sub_pbox > table.sublist th.lang,div.stat_page > div.sub_pbox > table.sublist td.lang{
    width:76px;
}

div.stat_mask > div.subfile_mbox > h2.subid{
    width:50%;
    padding:6px 0px 0px 82px;
}
div.stat_mask > div.subfile_mbox > label{
    padding:6px 0px 32px 82px;
}
div.stat_mask > div.subfile_mbox > div.filebox{
    width:814px;
    height:384px;
    padding:6px 0px 32px 82px;
}
