div.user_page > div.main_pbox > div.info_box{
    width:240px;
    padding:32px 0px 32px 0px;
    float:left;
}
div.user_page > div.main_pbox > div.info_box > div.aboutme{
    padding:6px 0px 6px 0px;
    word-break:break-all;
}
div.user_page > div.main_pbox > div.info_box > img.avatar{
    width:100%;
    display:block;
}
div.user_page > div.main_pbox > div.data_box{
    width:978px;
    margin:0px 0px 0px 6px;
    padding:32px 0px 32px 0px;
    float:left;
}
div.user_page > div.edit_pbox > div.edit_box{
    width:240px;
    margin:0px 0px 0px 246px;
    padding:0px 0px 32px 0px;
}
div.user_page > div.edit_pbox > div.edit_box > img.avatar{
    width:100%;
    margin:0px 0px 16px 0px;
    display:block;
}
div.user_page > div.edit_pbox > div.edit_box > div.error{
    margin:0px 0px 16px 0px;
    color:#FFA0A0;
}
div.user_page > div.edit_pbox > div.edit_box input{
    width:228px;
    height:32px;
    margin:0px 0px 16px 0px;
    padding:0px 6px 0px 6px;
    border-width:0px;
    display:block;
}
div.user_page > div.mgsq_pbox > div.in_box{
    width:486px;
    margin:0px 0px 0px 246px;
    padding:0px 0px 32px 0px;
    float:left;
}
div.user_page > div.mgsq_pbox > div.out_box{
    width:486px;
    margin:0px 0px 0px 6px;
    padding:0px 0px 32px 0px;
    float:left;
}
div.user_page > div.mgsq_pbox div.item{
    width:auto;
    margin:6px 0px 6px 0px;
    padding:6px 0px 6px 6px;
    cursor:pointer;
}
div.user_page > div.mgsq_pbox div.item_s{
    background-color:rgba(255,255,255,0.2);
}
div.user_page > div.mgsq_pbox div:hover.item{
    background-color:rgba(255,255,255,0.2);
}
div.user_page > div.mgsq_pbox div.item > div.info{
    width:100%;
    height:32px;
    line-height:32px;
}
div.user_page > div.mgsq_pbox div.item > div.info > span.time{
    width:237px;
    height:32px;
    font-size:12px;
    line-height:32px;
    float:right;
}
div.user_page > div.mgsq_pbox div.item > div.data{
    width:100%;
    height:32px;
    margin:6px 0px 0px 0px;
    display:none;
}
div.user_page > div.mg_pbox > div.left_box{
    margin:0px 0px 0px 246px;
    padding:0px 0px 32px 0px;
    float:left;
}
div.user_page > div.mg_pbox table.prolist{
    width:486px;
    border-collapse:collapse;    
    text-align:left;
}
div.user_page > div.mg_pbox table.prolist tr.head{
    height:64px;
}
div.user_page > div.mg_pbox table.prolist tr.item{
    height:44px;
}
div.user_page > div.mg_pbox table.prolist tr:hover.item{
    background-color:rgba(255,255,255,0.2);
}
div.user_page > div.mg_pbox table.prolist th,div.user_page > div.mg_pbox table.prolist td{
    width:76px;
    padding:0px 0px 0px 6px;
}
div.user_page > div.mg_pbox table.prolist th.name,div.user_page > div.mg_pbox table.prolist td.name{
    width:auto;
}

div.user_mask > div.editsq_mbox > div.edit_box{
    width:322px;
    margin:0px 0px 0px 164px;
    padding:6px 0px 32px 0px;
    float:left;
}
div.user_mask > div.editsq_mbox > div.edit_box > div.error{
    margin:0px 0px 16px 0px;
    color:#FFA0A0;
}
div.user_mask > div.editsq_mbox > div.edit_box input{
    width:146px;
    height:32px;
    margin:0px 0px 16px 0px;
    padding:0px 6px 0px 6px;
    border-width:0px;
    display:block;
}
div.user_mask > div.editsq_mbox > div.edit_box > div.time > input{
    width:35px;
}
div.user_mask > div.editsq_mbox > div.edit_box select{
    width:76px;
    height:32px;
    margin:0px 0px 16px 0px;
    border-width:0px;
    display:block;
}
div.user_mask > div.editsq_mbox > div.pro_box{
    width:404px;
    margin:0px 0px 0px 6px;
    padding:6px 0px 32px 0px;
    float:left;
}
div.user_mask > div.editsq_mbox > div.pro_box > div.prolist_box{
    width:100%;
    max-height:256px;
    overflow-y:scroll;
}
div.user_mask > div.editsq_mbox > div.pro_box table.prolist{
    width:100%;
    border-collapse:collapse;    
    text-align:left;
}
div.user_mask > div.editsq_mbox > div.pro_box table.prolist tr.item{
    height:44px;
}
div.user_mask > div.editsq_mbox > div.pro_box table.prolist tr:hover.item{
    background-color:rgba(255,255,255,0.2);
}
div.user_mask > div.editsq_mbox > div.pro_box table.prolist td{
    width:76px;
    padding:0px 0px 0px 6px;
}
div.user_mask > div.editsq_mbox > div.pro_box table.prolist td.name{
    width:auto;
}

div.user_mask > div.editpro_mbox > div.edit_box{
    margin:0px 0px 0px 246px;
    padding:6px 0px 32px 0px;
}
div.user_mask > div.editpro_mbox > div.edit_box > div.error{
    margin:0px 0px 16px 0px;
    color:#FFA0A0;
}
div.user_mask > div.editpro_mbox > div.edit_box input{
    width:146px;
    height:32px;
    margin:0px 0px 16px 0px;
    padding:0px 6px 0px 6px;
    border-width:0px;
    display:block;
}
div.user_mask > div.editpro_mbox > div.edit_box select{
    width:76px;
    height:32px;
    margin:0px 0px 16px 0px;
    border-width:0px;
    display:block;
}

div.login_pbox > div.info_box{
    width:486px;
    margin:128px 0px 0px 246px;
    float:left;
}
div.login_pbox > div.login_box{
    width:240px;
    margin:128px 0px 0px 0px;
    padding:0px 6px 0px 0px;
    float:left;
}
div.login_pbox > div.login_box > div.error{
    margin:0px 0px 16px 0px;
    color:#FFA0A0;
}
div.login_pbox > div.login_box > input{
    width:228px;
    height:32px;
    margin:0px 0px 16px 0px;
    padding:0px 6px 0px 6px;
    border-width:0px;
    display:block;
}

div.register_pbox > div.info_box{
    width:486px;
    margin:128px 0px 0px 246px;
    float:left;
}
div.register_pbox > div.register_box{
    width:240px;
    margin:128px 0px 0px 0px;
    padding:0px 6px 0px 0px;
    float:left;
}
div.register_pbox > div.register_box > div.error{
    margin:0px 0px 16px 0px;
    color:#FFA0A0;
}
div.register_pbox > div.register_box > input{
    width:228px;
    height:32px;
    margin:0px 0px 16px 0px;
    padding:0px 6px 0px 6px;
    border-width:0px;
    display:block;
}
