div.status_submit{
    width:100%;
    height:100%;
    overflow:hidden;
}

div.status_submit > div.submitlist{
    width:69%;
    height:100%;
    float:left;
    overflow:auto;
}
div.status_submit > div.submitlist > table.list{
    width:95%;
    margin:6px auto 0px auto;
    font-size:20px;
    text-align:left;
    border-spacing:0px;
    border-collapse:collapse;
}
div.status_submit > div.submitlist tr.head{
    height:32px;
}
div.status_submit > div.submitlist tr.item{
    height:32px;
    cursor:pointer;
}
div.status_submit > div.submitlist tr:hover.item{
    background-color:#36454F;
}
div.status_submit > div.submitlist th.id,div.status_submit > div.submitlist td.id{
    width:64px;
}
div.status_submit > div.submitlist th.proid,div.status_submit > div.submitlist td.proid{
    width:96px;
}
div.status_submit > div.submitlist th.nickname,div.status_submit > div.submitlist td.nickname{
    width:auto;
}
div.status_submit > div.submitlist th.time{
    width:224px;
}
div.status_submit > div.submitlist td.time{
    width:224px;
    font-weight:normal;
    font-size:16px;
}
div.status_submit > div.submitlist th.result,div.status_submit > div.submitlist td.result{
    width:80px;
}
div.status_submit > div.submitlist th.runtime{
    width:104px;
}
div.status_submit > div.submitlist td.runtime{
    width:104px;
    font-weight:normal;
    font-size:16px;
}
div.status_submit > div.submitlist th.score,div.status_submit > div.submitlist td.score{
    width:64px;
}
div.status_submit > div.submitlist a.link{
    height:100%;
    color:#E9E9E9;
    text-decoration:none;
    cursor:pointer;
}
div.status_submit > div.submitlist a:hover.link{
    text-decoration:underline;
}

div.status_submit > div.submitinfo{
    width:31%;
    height:100%;
    background-color:#222222;
    overflow:auto;
    float:left;
}
div.status_submit > div.submitinfo div.head{
    width:100%;
    height:32px;
    margin:6px 0px 0px 0px;
}
div.status_submit > div.submitinfo table.info{
    width:95%;
    margin:26px 0px 0px auto;
    font-size:16px;
    text-align:left;
    border-spacing:0px;
    border-collapse:collapse;
}
div.status_submit > div.submitinfo > table.list{
    width:95%;
    margin:32px 0px 0px auto;
    font-size:16px;
    text-align:left;
    border-spacing:0px;
    border-collapse:collapse;
}
div.status_submit > div.submitinfo a.link{
    width:100%;
    height:100%;
    color:#E9E9E9;
    text-decoration:none;
    display:block;
    cursor:pointer;
}
div.status_submit > div.submitinfo a:hover.link{
    text-decoration:underline;
}
